.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.cache
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.cache/
settings/
settings/internal/com.kms.katalon.integration.analytics.properties

settings/internal/com.kms.katalon.integration.jira.properties